<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Ditch Day: Caltech's Zany Brainy Olympics"

>
  <image imageURL="images/Archives-logo-facebook-version-5.jpg"
	thumbURL="thumbs/Archives-logo-facebook-version-5.jpg"
	linkURL="images/Archives-logo-facebook-version-5.jpg"
	linkTarget="_blank"
	sourcePath="U:\archives.caltech.edu\htdocs\exhibits\students_60s\images\Archives-logo-facebook-version-5.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Ditch Day Blurb.jpg"
	thumbURL="thumbs/Ditch Day Blurb.jpg"
	linkURL="images/Ditch Day Blurb.jpg"
	linkTarget="_blank"
	sourcePath="N:\1 Digital Archives\3 DISPLAYS, PPTs, TALKS\DitchDay\Ditch Day Blurb.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1_HappyDitchDay.jpg"
	thumbURL="thumbs/1_HappyDitchDay.jpg"
	linkURL="images/1_HappyDitchDay.jpg"
	linkTarget="_blank"
	sourcePath="N:\1 Digital Archives\3 DISPLAYS, PPTs, TALKS\DitchDay\JPEG\1_HappyDitchDay.jpg">
    <title><![CDATA[Happy Ditch Day, everybody!]]></title>
    <caption><![CDATA[(1991; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/2_woman reading.jpg"
	thumbURL="thumbs/2_woman reading.jpg"
	linkURL="images/2_woman reading.jpg"
	linkTarget="_blank"
	sourcePath="N:\1 Digital Archives\3 DISPLAYS, PPTs, TALKS\DitchDay\JPEG\2_woman reading.jpg">
    <title><![CDATA[Reading the first clues.]]></title>
    <caption><![CDATA[(1987; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/3_reading2.jpg"
	thumbURL="thumbs/3_reading2.jpg"
	linkURL="images/3_reading2.jpg"
	linkTarget="_blank"
	sourcePath="N:\1 Digital Archives\3 DISPLAYS, PPTs, TALKS\DitchDay\JPEG\3_reading2.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[(1983 photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/2_tied.jpg"
	thumbURL="thumbs/2_tied.jpg"
	linkURL="images/2_tied.jpg"
	linkTarget="_blank"
	sourcePath="N:\1 Digital Archives\3 DISPLAYS, PPTs, TALKS\DitchDay\JPEG\2_tied.jpg">
    <title><![CDATA[Senior Cheong-Fay didn't take advantage of Ditch Day and paid the penalty  tied to a tree.]]></title>
    <caption><![CDATA[(1966; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/9_knights.jpg"
	thumbURL="thumbs/9_knights.jpg"
	linkURL="images/9_knights.jpg"
	linkTarget="_blank"
	sourcePath="N:\1 Digital Archives\3 DISPLAYS, PPTs, TALKS\DitchDay\JPEG\9_knights.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[(1993; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/3_robot.jpg"
	thumbURL="thumbs/3_robot.jpg"
	linkURL="images/3_robot.jpg"
	linkTarget="_blank"
	sourcePath="N:\1 Digital Archives\3 DISPLAYS, PPTs, TALKS\DitchDay\JPEG\3_robot.jpg">
    <title><![CDATA[Luckily this threat from the future is under control.]]></title>
    <caption><![CDATA[(1984 photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/10_human pile.jpg"
	thumbURL="thumbs/10_human pile.jpg"
	linkURL="images/10_human pile.jpg"
	linkTarget="_blank"
	sourcePath="N:\1 Digital Archives\3 DISPLAYS, PPTs, TALKS\DitchDay\JPEG\10_human pile.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[(1983; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/11_drill.jpg"
	thumbURL="thumbs/11_drill.jpg"
	linkURL="images/11_drill.jpg"
	linkTarget="_blank"
	sourcePath="N:\1 Digital Archives\3 DISPLAYS, PPTs, TALKS\DitchDay\JPEG\11_drill.jpg">
    <title><![CDATA[This block of concrete concealed a rod to stop a nuclear explosion.]]></title>
    <caption><![CDATA[(1991; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/12_smoking mask.jpg"
	thumbURL="thumbs/12_smoking mask.jpg"
	linkURL="images/12_smoking mask.jpg"
	linkTarget="_blank"
	sourcePath="N:\1 Digital Archives\3 DISPLAYS, PPTs, TALKS\DitchDay\JPEG\12_smoking mask.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[(1986; photo credit: Robert Paz)]]></caption>
  </image>
  <image imageURL="images/13_pirate car.jpg"
	thumbURL="thumbs/13_pirate car.jpg"
	linkURL="images/13_pirate car.jpg"
	linkTarget="_blank"
	sourcePath="N:\1 Digital Archives\3 DISPLAYS, PPTs, TALKS\DitchDay\JPEG\13_pirate car.jpg">
    <title><![CDATA[Students clad as pirates.]]></title>
    <caption><![CDATA[(1982; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/16_car1.jpg"
	thumbURL="thumbs/16_car1.jpg"
	linkURL="images/16_car1.jpg"
	linkTarget="_blank"
	sourcePath="N:\1 Digital Archives\3 DISPLAYS, PPTs, TALKS\DitchDay\JPEG\16_car1.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[(1986; photo credit: Robert Paz)]]></caption>
  </image>
  <image imageURL="images/11b_rolling_woman.jpg"
	thumbURL="thumbs/11b_rolling_woman.jpg"
	linkURL="images/11b_rolling_woman.jpg"
	linkTarget="_blank"
	sourcePath="N:\1 Digital Archives\3 DISPLAYS, PPTs, TALKS\DitchDay\JPEG\11b_rolling_woman.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[(1981; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/18_car upside down.jpg"
	thumbURL="thumbs/18_car upside down.jpg"
	linkURL="images/18_car upside down.jpg"
	linkTarget="_blank"
	sourcePath="N:\1 Digital Archives\3 DISPLAYS, PPTs, TALKS\DitchDay\JPEG\18_car upside down.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[(1985; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/20_cherry pick.jpg"
	thumbURL="thumbs/20_cherry pick.jpg"
	linkURL="images/20_cherry pick.jpg"
	linkTarget="_blank"
	sourcePath="N:\1 Digital Archives\3 DISPLAYS, PPTs, TALKS\DitchDay\JPEG\20_cherry pick.jpg">
    <title><![CDATA[Trying to entering the dorm the hard way.]]></title>
    <caption><![CDATA[(1982; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/19_sega elettrica.jpg"
	thumbURL="thumbs/19_sega elettrica.jpg"
	linkURL="images/19_sega elettrica.jpg"
	linkTarget="_blank"
	sourcePath="N:\1 Digital Archives\3 DISPLAYS, PPTs, TALKS\DitchDay\JPEG\19_sega elettrica.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[(1982; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/20b_window with code.jpg"
	thumbURL="thumbs/20b_window with code.jpg"
	linkURL="images/20b_window with code.jpg"
	linkTarget="_blank"
	sourcePath="N:\1 Digital Archives\3 DISPLAYS, PPTs, TALKS\DitchDay\JPEG\20b_window with code.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[(1988; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/21_Millikan climbing.jpg"
	thumbURL="thumbs/21_Millikan climbing.jpg"
	linkURL="images/21_Millikan climbing.jpg"
	linkTarget="_blank"
	sourcePath="N:\1 Digital Archives\3 DISPLAYS, PPTs, TALKS\DitchDay\JPEG\21_Millikan climbing.jpg">
    <title><![CDATA[Erik Hille goes after a clue taped to Millikan building.]]></title>
    <caption><![CDATA[(1987; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/21b_building_bike.jpg"
	thumbURL="thumbs/21b_building_bike.jpg"
	linkURL="images/21b_building_bike.jpg"
	linkTarget="_blank"
	sourcePath="N:\1 Digital Archives\3 DISPLAYS, PPTs, TALKS\DitchDay\JPEG\21b_building_bike.jpg">
    <title><![CDATA[Descending from Firestone.]]></title>
    <caption><![CDATA[(1990; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/21c_dome.jpg"
	thumbURL="thumbs/21c_dome.jpg"
	linkURL="images/21c_dome.jpg"
	linkTarget="_blank"
	sourcePath="N:\1 Digital Archives\3 DISPLAYS, PPTs, TALKS\DitchDay\JPEG\21c_dome.jpg">
    <title><![CDATA[Looking for a clue on one of the turquoise cupolas at the entrance of Bechtel Mall.]]></title>
    <caption><![CDATA[(1982; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/22_flag climbing.jpg"
	thumbURL="thumbs/22_flag climbing.jpg"
	linkURL="images/22_flag climbing.jpg"
	linkTarget="_blank"
	sourcePath="N:\1 Digital Archives\3 DISPLAYS, PPTs, TALKS\DitchDay\JPEG\22_flag climbing.jpg">
    <title><![CDATA[... and up on  top of the campus flagpole.]]></title>
    <caption><![CDATA[(1986; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/3_bricks.jpg"
	thumbURL="thumbs/3_bricks.jpg"
	linkURL="images/3_bricks.jpg"
	linkTarget="_blank"
	sourcePath="N:\1 Digital Archives\3 DISPLAYS, PPTs, TALKS\DitchDay\JPEG\3_bricks.jpg">
    <title><![CDATA[The final stage of this stack definitely requires brute force.]]></title>
    <caption><![CDATA[(1982 photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/23_door opening code.jpg"
	thumbURL="thumbs/23_door opening code.jpg"
	linkURL="images/23_door opening code.jpg"
	linkTarget="_blank"
	sourcePath="N:\1 Digital Archives\3 DISPLAYS, PPTs, TALKS\DitchDay\JPEG\23_door opening code.jpg">
    <title><![CDATA[Almost ready to crack the final code.]]></title>
    <caption><![CDATA[(undated; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/25_door2.jpg"
	thumbURL="thumbs/25_door2.jpg"
	linkURL="images/25_door2.jpg"
	linkTarget="_blank"
	sourcePath="N:\1 Digital Archives\3 DISPLAYS, PPTs, TALKS\DitchDay\JPEG\25_door2.jpg">
    <title><![CDATA[Using mental muscle to break into a Senior’s room.]]></title>
    <caption><![CDATA[(1982; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/30_Newspaper.jpg"
	thumbURL="thumbs/30_Newspaper.jpg"
	linkURL="images/30_Newspaper.jpg"
	linkTarget="_blank"
	sourcePath="N:\1 Digital Archives\3 DISPLAYS, PPTs, TALKS\DitchDay\JPEG\30_Newspaper.jpg">
    <title><![CDATA[Payback: these Seniors found their room completely filled with wadded newspapers.]]></title>
    <caption><![CDATA[(1965; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/3Newspaper2.jpg"
	thumbURL="thumbs/3Newspaper2.jpg"
	linkURL="images/3Newspaper2.jpg"
	linkTarget="_blank"
	sourcePath="N:\1 Digital Archives\3 DISPLAYS, PPTs, TALKS\DitchDay\JPEG\3Newspaper2.jpg">
    <title><![CDATA[A classic prank bears repeating (20 years later).]]></title>
    <caption><![CDATA[(1982 photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/11_hanging bed.jpg"
	thumbURL="thumbs/11_hanging bed.jpg"
	linkURL="images/11_hanging bed.jpg"
	linkTarget="_blank"
	sourcePath="N:\1 Digital Archives\3 DISPLAYS, PPTs, TALKS\DitchDay\JPEG\11_hanging bed.jpg">
    <title><![CDATA[This Senior came back to campus to find his furniture suspedend from wires outside.]]></title>
    <caption><![CDATA[(1966; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/26_Aloha.jpg"
	thumbURL="thumbs/26_Aloha.jpg"
	linkURL="images/26_Aloha.jpg"
	linkTarget="_blank"
	sourcePath="N:\1 Digital Archives\3 DISPLAYS, PPTs, TALKS\DitchDay\JPEG\26_Aloha.jpg">
    <title><![CDATA[A truly Hawaiian welcome for the Senior occupying this room.]]></title>
    <caption><![CDATA[(1981; photo credit: unknown)]]></caption>
  </image>
</juiceboxgallery>